{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="aboutus">
    <div class="container">
        <div class="row">
            <div class="col-md-6 tilt1">
                <h3>Компания создана в 1998 г. На протяжении 12 лет группа компаний «ЭКАС»,
                    благодаря технической надежности, первоклассному инжинирингу, внедрению
                    новых технологий и разветвленной сети сервисного обслуживания успешно работает на
                    объектах различных сфер деятельности.
                    Компания располагает собственной строительной техникой и производственной базой.</h3>
            </div>
            <br><br><br>
            <div class="col-md-6 col-md-offset-6 tilt1">
                <h3>Численность персонала группы компаний «ЭКАС» составляет 60 человек,
                    строительно-монтажной бригады 30 человек, в т.ч. дипломированные сварщики,
                    аттестованные слесари-монтажники. Квалифицированные инженеры-теплотехники,
                    технологи, программисты, проектировщики, химики, инженеры АСУ ТП и КИПиА,
                    инженеры систем вентиляции обеспечивают эффективные решения технических задач,
                    своевременное исполнение всех договорных обязательств.</h3>
            </div>
        </div>
    </div>
</div>

<div id="aboutus2">
    <div class="container">
        <div class="row">
            <div class="col-md-4-offset-1">
                <h3>Группа компаний «ЭКАС» предлагает Вам сотрудничество по оказанию услуг в сфере
                    обслуживания, проектирования, монтажа, строительства блок-модульных, крышных, производственных,
                    отопительных котельных, строительства инженерных сетей,  наружных и внутренних газопроводов,
                    пуско-наладочных работ теплотехнического и газоиспользующего оборудования; ремонт и замена
                    устаревшего оборудования котельных, ЦТП, инженерных сетей. </h3>
                <br><br>
            </div>
            <div class="col-md-4">
                <h3>Производственные участки:</h3>
                <hr>
                <h3>Отдел проектирования</h3>
                <br>
                <h3>ПТО (производсвтенно-технический отдел)</h3>
                <br>
                <h3>Теплотехнический отдел</h3>
                <br>
                <h3>КИПиА</h3>
                <br>
                <h3>Электротехнический отдел</h3>
                <br>
                <h3>Строительно-монтажный отдел</h3>
                <br>
                <h3>Отдел промышленной безопасности</h3>
                <br>
                <h3>АУП (административно-управленческий персонал)</h3>
                <br>
            </div>
            <div class="col-md-8">
                <h3 class="text-center">Структура компании:</h3>
                <hr>
                <div class="col-md-4">
                    <h3>- ООО "ЭКАС-Строймонтаж":</h3>
                    <p>ИНН 4632064101</p>
                    <p>КПП 463201001</p>
                    <p>ОКПО 78759772</p>
                    <p>ОГРН 1064632038844</p>
                </div>
                <div class="col-md-4">
                    <h3>- ООО "ЭКАС-Оргпищепром+":</h3>
                    <p>ИНН 4632071902</p>
                    <p>КПП 463201001</p>
                    <p>ОКПО 96897259</p>
                    <p>ОГРН 1064632050867</p>
                </div>
                <div class="col-md-4">
                    <h3>- ООО "ЭКАС-Комплект":</h3>
                    <p>ИНН 4632094650</p>
                    <p>КПП 463201001</p>
                    <p>ОКПО 81761264</p>
                    <p>ОГРН 1084632006030</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="aboutus3">
    <div class="container">
        <div class="row">
            <h1 class="text-center">Схема проезда:</h1>
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2469.9796161426225!2d36.19049531537415!3d51.75169630063311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x412f03cf329cdf83%3A0xfc049be00f2eadbe!2z0YPQuy4g0JrQsNGA0LvQsCDQnNCw0YDQutGB0LAsIDIzLCDQmtGD0YDRgdC6LCDQmtGD0YDRgdC60LDRjyDQvtCx0LsuLCAzMDUwMDQ!5e0!3m2!1sru!2sru!4v1513853645041"
                    width="1200" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
    <br><br>


{% endblock %}
