{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container opisanie_kipia">
        <div class="row centered">
            <br><br>
            <div class="col-lg-8 col-lg-offset-2">
                <h4 class="eks1IN1">Группа компаний ЭКАС подготовит Вам проектную и рабочую
                    документацию для объектов любой степени сложности (кроме особо опасных и технически сложных исполъзования объектов,
                    объектов атомной энергии), при необходиости – подготовит расчеты
                    сметной документации в федеральных и территориальных расценках.
                    В целях обеспечения высокого качества строительства и необходимой
                    длительной, надежной эксплуатации проектируемого объекта наша компания учитывает
                    все требования действующей на момент проектирования нормативно-технической документации.</h4>
                <br><br><br>
                <hr>
                <h4>Наша компания специализируется на проектировании объектов по следующим направлениям:</h4>
                <br><br>
                <p class="eks1IN2 ">
                    <i class="fa fa-caret-right" aria-hidden="true"></i> Наружние и внутренние сети газопотребления и газоснабжения;
                </p>
                <p class="eks1IN2 ">
                    <i class="fa fa-caret-right" aria-hidden="true"></i> Объекты теплоэнергетики и теплоснабжения;
                </p>
                <p class="eks1IN2 ">
                    <i class="fa fa-caret-right" aria-hidden="true"></i> Коммунальные сети;
                </p>
                <p class="eks1IN2 ">
                    <i class="fa fa-caret-right" aria-hidden="true"></i> Отопление и вентиляция;
                </p>
                <p class="eks1IN2 ">
                    <i class="fa fa-caret-right" aria-hidden="true"></i> Здания и сооружения
                </p>
                <br>
            </div>
            <br>
        </div>
    </div>

<div id="oprosnoi_list_proektirovanie">
    <div class="container">
        <div class="row">
            <div class="text-centered">
                <h1 class="text-center">Исходно-разрешительная документация</h1>
                <br>
                <hr>
                <div class="container proekti">
                        <h1 class="text-center">Свидетельство о допуске к определенному виду или видам работ, которые оказывают на безопасность объектов капитального строительства:</h1>
                    <br><br><br>
                    <div class="col-md-4 container_opros_proekti tilt">
                        <a target='_blank' title="">
                            <img src="{% static 'img/stroimontaz/sv_1.jpg' %}" alt="">
                        </a>
                        <h2>Свидетельство на осуществление деятельности по строительству</h2>
                    </div>
                    <div class="col-md-4 container_opros_proekti tilt">
                        <a target='_blank' title="">
                            <img src="{% static 'img/stroimontaz/sv_2.jpg' %}" alt="">
                        </a>
                        <h2>Продолжение свидетельства</h2>
                    </div>
                    <div class="col-md-4 container_opros_proekti tilt">
                        <a target='_blank' title="">
                            <img src="{% static 'img/stroimontaz/sv_3.jpg' %}" alt="">
                        </a>
                        <h2>Продолжение свидетельства</h2>
                    </div>
                </div>
                <br><br>
                <div class="container proekti">
                    <div class="col-md-4 container_opros_proekti tilt">
                        <a target='_blank' title="">
                            <img src="{% static 'img/stroimontaz/sv_4.jpg' %}" alt="">
                        </a>
                        <h2>Продолжение свидетельства</h2>
                    </div>
                    <div class="col-md-4 container_opros_proekti tilt">
                        <a target='_blank' title="">
                            <img src="{% static 'img/stroimontaz/sv_5.jpg' %}" alt="">
                        </a>
                        <h2>Продолжение свидетельства</h2>
                    </div>
                    <div class="col-md-4 container_opros_proekti tilt">
                        <a target='_blank' title="">
                            <img src="{% static 'img/stroimontaz/sv_6.jpg' %}" alt="">
                        </a>
                        <h2>Продолжение свидетельства</h2>
                    </div>
                </div>
                <br><br><hr><br>
                <div class="container proekti">
                <h1 class="text-center">Свидетельство о допуске к определенному
                    виду или видам работ по подготовке проектной документации, которые оказывают влияние на безопасность
                    объектов капитального строительства:</h1>
                    <br><br><br>
                    <div class="col-md-4 container_opros_proekti tilt">
                        <a target='_blank' title="">
                            <img src="{% static 'img/stroimontaz/sp_1.jpg' %}" alt="">
                        </a>
                        <h2>Свидетельство на осуществление деятельности по проектированию</h2>
                    </div>
                    <div class="col-md-4 container_opros_proekti tilt">
                        <a target='_blank' title="">
                            <img src="{% static 'img/stroimontaz/sp_2.jpg' %}" alt="">
                        </a>
                        <h2>Приложение свидетельства</h2>
                    </div>
                    <div class="col-md-4 container_opros_proekti tilt">
                        <a target='_blank' title="">
                            <img src="{% static 'img/stroimontaz/sp_3.jpg' %}" alt="">
                        </a>
                        <h2>Продолжение приложения</h2>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </div>
    <br><br><hr>
</div>
{% endblock %}