{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container opisanie_kipia">
        <div class="row centered">
            <br><br>
            <div class="col-lg-8 col-lg-offset-2">
                <h4 class="eks1IN1">Группа компаний ЭКАС предлагает Вам пусконаладочные работы (ПНР) котельной.
                    Работы выполняются профессионалами, обеспечивая
                    долгую, стабильную и безопасную эксплуатацию котельной.</h4>
                <br><br><br>
                <hr>
                <h4 class="tilt">Пусконаладочные работы на котельной (пусконаладка котельной) проводятся в шесть этапов:</h4>
                <br><br>
                <p class="eks1IN2 ">
                    <i class="fa fa-caret-right" aria-hidden="true"></i> Подготовительный: на основе проектной и эксплуатационной документации
                    компаний-изготовителей наши квалифицированные специалисты занимаются разработкой рабочей программы,
                    а также проекта производства пусконаладочных работ.
                    Данный проект включает мероприятия по технике безопасности,
                    а также подготавливает испытательное оборудование и приспособления,
                    парк измерительной аппаратуры.
                </p>
                <hr>
                <p class="eks1IN2">
                    <i class="fa fa-caret-right" aria-hidden="true"></i> Индивидуальное опробование (Пуск котла): осуществляется поузловая проверка
                    соответствия проекту выполненных монтажных работ, выявляется правильность
                    функционирования устройств и средств, отвечающих за обеспечение безопасной
                    работы оборудования в соответствии с правилами техники безопасности и
                    соблюдением охраны труда. Проводится проверка приборов.
                </p>
                <hr>
                <p class="eks1IN2">
                    <i class="fa fa-caret-right" aria-hidden="true"></i> Пусковые работы котельной (Пуск котельной): выполняется подготовка к пуску и
                    последующий пуск оборудования с арматурой и коммуникациями. Организуется
                    постоянное наблюдение за поведением и состоянием элементов оборудования при
                    работе вхолостую, обеспечивается наблюдение за принятием нагрузки и её
                    доведением до величины, которая установлена Заказчиком для комплексного
                    опробования.
                </p>
                <hr>
                <p class="eks1IN2">
                    <i class="fa fa-caret-right" aria-hidden="true"></i> Наладка и комплексное опробование котельной (Наладка котлов и котельной):
                    осуществляется пуск и предварительная наладка работы основного и
                    вспомогательного оборудования, а также комплексное испытание под нагрузкой в
                    соответствии с требованиями СНиП и ТУ в режиме, который установлен
                    Заказчиком или предусмотрен проектом. Разработка режимных карт
                    осуществляется на основании показаний эксплуатационного оборудования под
                    нагрузкой при комплексном испытании. По результатам комплексного опробования
                    составляются акты.
                </p>
                <hr>
                <p class="eks1IN2">
                    <i class="fa fa-caret-right" aria-hidden="true"></i> Режимно-наладочные испытания (Режимная наладка котлов):
                     осуществляется отработка режимов работы основного и вспомогательного
                    оборудования по качественным и количественным показателям с выявлением
                    оптимальных условий работы этого оборудования. Также осуществляется
                    обработка результатов испытаний, на основное и вспомогательное оборудование
                    составляются режимные карты. Инструкции по технической эксплуатации
                    установленного оборудования составляются совместно с инженерно-техническим
                    персоналом Заказчика.
                </p>
                <hr>
                <p class="eks1IN2">
                    <i class="fa fa-caret-right" aria-hidden="true"></i> Оформление технической документации (Отчет по котельной):
                    наши специалисты состовляют технический отчет в соответствии с утвержденными методиками.
                    Данный отчет регистрируется в Ростехнадзоре.
                    Оформляется приемо-сдаточная и исполнительная документация.
                </p>
            </div>
            <br><br>
        </div>
    </div>

<div id="oprosnoi_list_proektirovanie">
    <div class="container">
        <div class="row">
            <div class="text-centered">
                <h1 class="text-center">Исходно-разрешительная документация</h1>
                <br>
                <hr>
                <div class="container proekti">
                        <h1 class="text-center">Свидетельство о допуске к определенному виду или видам работ, которые оказывают на безопасность объектов капитального строительства:</h1>
                    <br><br><br>
                    <div class="col-md-4 container_opros_proekti tilt">
                        <a target='_blank' title="">
                            <img src="{% static 'img/stroimontaz/sv_1.jpg' %}" alt="">
                        </a>
                        <h2>Свидетельство на осуществление деятельности по строительству</h2>
                    </div>
                    <div class="col-md-4 container_opros_proekti tilt">
                        <a target='_blank' title="">
                            <img src="{% static 'img/stroimontaz/sv_2.jpg' %}" alt="">
                        </a>
                        <h2>Продолжение свидетельства</h2>
                    </div>
                    <div class="col-md-4 container_opros_proekti tilt">
                        <a target='_blank' title="">
                            <img src="{% static 'img/stroimontaz/sv_3.jpg' %}" alt="">
                        </a>
                        <h2>Продолжение свидетельства</h2>
                    </div>
                </div>
                <br><br>
                <div class="container proekti">
                    <div class="col-md-4 container_opros_proekti tilt">
                        <a target='_blank' title="">
                            <img src="{% static 'img/stroimontaz/sv_4.jpg' %}" alt="">
                        </a>
                        <h2>Продолжение свидетельства</h2>
                    </div>
                    <div class="col-md-4 container_opros_proekti tilt">
                        <a target='_blank' title="">
                            <img src="{% static 'img/stroimontaz/sv_5.jpg' %}" alt="">
                        </a>
                        <h2>Продолжение свидетельства</h2>
                    </div>
                    <div class="col-md-4 container_opros_proekti tilt">
                        <a target='_blank' title="">
                            <img src="{% static 'img/stroimontaz/sv_6.jpg' %}" alt="">
                        </a>
                        <h2>Продолжение свидетельства</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
